<div class=" relative  md:w-[350px] h-full w-[250px]  max-w-md bg-white border border-gray-200 rounded-lg shadow">
  <div class="  overflow-hidden {% if product_product.featured_image and media_aspect_ratio == 'in-between' %} rounded-lg {% else %} {%-endif-%}">
    <a href="{{ product_product.url }}">
      {% if product_product.featured_image %}
        <img
          class="md:h-[300px] w-full h-[225px] object-cover transition-transform-gpu hover:scale-150"
          src="{{ product_product.featured_image | image_url: width: 1500 }}"
          loading="lazy"
          alt="img">
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'md:h-[300px] w-full h-[225px] object-cover bg-gray-100' }}
      {% endif %}
    </a>
  </div>

  <div class="flex flex-col justify-between mt-4 p-2">
    <a href="{{ product_product.url }}" class="text-gray-700 uppercase text-sm text-center pb-2">{{ product_product.title }}</a>
    {% if product_product.compare_at_price %}
      <div class="flex justify-between pt-2">
        <p class="text-[#E04343]">{{ product_product.price | money }}</p>
        <p class="text-[#585656] line-through ">{{ product_product.compare_at_price_min | money }}</p>
      </div>
    {% else %}
      <p class="text-[#E04343] text-center pt-2">{{ product_product.price | money }}</p>
    {% endif %}
    <button class="bg-[#ED9393] mt-4 hover:bg-[#EA6A6A] text-white font-bold py-2 px-4 rounded-lg transform hover:scale-105 transition duration-300 ease-in-out">
      Button
    </button>

  </div>

</div>